@use "utilities/variables";
@use "utilities/mixins";
@use "utilities/placeholders";

@use "sass:math";

.movies-list__container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 8rem;
  padding: 0.25rem;
  box-sizing: border-box;
}

.movie {
  position: relative;
  width: 100%;
  height: 750px;
  margin: 0.1rem;
  overflow-y: hidden;
  margin-bottom: 0.35rem;
  border-radius: 1rem;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  transform: none;
  transition: 0.17s transform ease-out;
  transform-origin: center;
  > * {
    pointer-events: none;
  }
  &:active {
    .movie__info {
      transform: translateX(0%);
    }
    .movie__poster:after {
      opacity: 1;
    }
  }
  &__poster {
    position: relative;
    width: auto;
    height: 100%;
    background-image: url("./../src/assets/no-image.jpg"); // Default if not overwritten
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: " ";
      @include mixins.linear-gradient(0%, 60%, 100%);
      transition: 0.35s opacity ease-in-out;
      opacity: 0.5;
      backdrop-filter: blur(3px);
    }
  }
  &__labels {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 500;
    padding: 1rem;
    box-sizing: border-box;
    &--in-theaters,
    &--genre {
      display: flex;
      max-width: fit-content;
      margin-top: 0.5rem;
      padding: 0.15rem 0.5rem;
      font-size: 0.75rem;
      color: variables.$gold--color;
      background-color: rgba(0, 0, 0, 0.5);
      border: 1px solid variables.$gold--color;
      border-radius: 2rem;
    }
    &--genre {
      display: flex;
      flex-shrink: 2;
      background-color: rgba(21, 21, 21, 0.4);
      color: white;
      border: 0;
    }
    &--rating {
      max-width: 100%;
      @extend %star-rating;
    }
  }
  &__info {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem 0.75rem;
    transform: translateX(0%);
    transition: 0.35s transform ease;
    box-sizing: border-box;
    font-size: 0.85rem;
    &__title {
      @include mixins.truncate;
      @include mixins.reset-block-margins;
    }
    &__overview {
      @include mixins.reset-block-margins;
      text-overflow: ellipsis;
      overflow: hidden;
      @include mixins.line-clamp(6);
    }
  }
  &__details {
    transition: 0.35s opacity ease-in;
    opacity: 0;
  }

  &.expanded {
    z-index: 1; // Fix
    border: 1px solid rgba(0, 0, 0, 0.75);
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 30px #000);
    .movie__poster {
      &:after {
        opacity: 0.85;
        @include mixins.linear-gradient(0%, 30%, 100%);
      }
    }
    .movie__labels {
      display: none;
    }
    .movie__info {
      display: none;
      width: 200%;
    }
    .movie__details {
      position: relative;
      display: flex;
      flex-direction: column;
      opacity: 1;
      top: -100%;
      width: 100%;
      height: 100%;
      padding: 0.5rem;
      box-sizing: border-box;
      &__trailer {
        &--title {
          @include mixins.truncate;
          @include mixins.reset-block-margins;
        }
        &--video {
          border: 0;
          border-radius: 0.5rem;
          margin-top: 1rem;
          height: 300px;
          pointer-events: all;
        }
      }
      &__reviews {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1;
        font-style: italic;
        &--author {
          font-size: 1.15rem;
          font-weight: 500;
          @include mixins.reset-block-margins;
        }
        &--content {
          font-size: 1rem;
          @include mixins.reset-block-margins;
          @include mixins.line-clamp(4);
        }
      }
      &__similar-container {
        position: relative;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
      }
      &__similar-title {
        position: relative;
        width: 100%;
        @include mixins.reset-block-margins;
        margin-bottom: 0.5rem;
      }
      &__similar-movies {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        bottom: 0;
        margin-bottom: 0.5rem;
        width: 100%;
        &__movie {
          position: relative;
          display: flex;
          flex-direction: column;
          flex: 1;
          max-width: 32%;
          &--title {
            position: relative;
            @include mixins.reset-block-margins;
            @include mixins.truncate;
            max-width: 100%;
            font-size: 0.75rem;
          }
          &--poster {
            position: relative;
            height: 120px;
            width: auto;
            border: 1px solid black;
            border-radius: 1rem;
            margin-top: 0.5rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center 40%;
            &:after {
              content: "";
              opacity: 0.65;
              position: absolute;
              top: 0;
              left: 0;
              height: 100%;
              width: 100%;
              @include mixins.linear-gradient(0%, 60%, 100%, 0deg);
            }
          }
          &--rating {
            position: absolute;
            margin: 1.5rem 0.5rem;
            @extend %star-rating;
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .movies-list__container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    top: 10rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-height: 100vh;

    .movie {
      width: 250px;
      height: 350px;
      &:hover {
        .movie__info {
          transform: translateX(0%);
        }
        .movie__poster:after {
          opacity: 0.9;
          backdrop-filter: blur(3px);
        }
      }
      &__info {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 1rem 0.75rem;
        transform: translateX(-100%);
      }
      &__poster {
        &:after {
          opacity: 0.4;
          backdrop-filter: blur(1px);
        }
      }
      &__details {
        &__reviews,
        &__trailer {
          transform-origin: top left;
          width: 200%; // Fix later
        }
        &__trailer {
          transform: scale3d(50%, 50%, 100%);
          position: absolute;
          box-sizing: border-box;
          padding-right: 2rem;
          &--title {
            @include mixins.truncate;
            @include mixins.reset-block-margins;
          }
          &--video {
            border: 0;
            border-radius: 0.5rem;
            margin-top: 1rem;
            height: 300px;
          }
        }
        &__reviews {
          position: relative;
          top: 175px;
          transform: scale3d(50%, 50%, 100%);
          &--content {
            @include mixins.line-clamp(5);
          }
        }
      }
      &.expanded {
        transform: scale3d(200%, 200%, 100%);
        .movie__details {
          &__similar-container {
            position: relative;
            bottom: 0;
            display: flex;
            flex-direction: column;
            width: 200%;
            transform-origin: bottom left;
            transform: scale3d(50%, 50%, 100%);
          }
          &__similar-movies {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            bottom: 0;
            margin-bottom: 0.5rem;
            width: 100%;
          }
        }
        &:hover {
          .movie__poster:after {
            opacity: 0.9;
            backdrop-filter: blur(1px);
          }
        }
      }
    }
  }
}
